{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends '_layout.njk' %}

{% block pageTitle %}View and download the record for Dog {{ model.indexNumber }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if model.errors | length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.errors
        }) }}
      {% endif %}

    <form method="POST" onsubmit="submitButton.disabled = true; return true;" novalidate autocomplete="off">
        <h1 class="govuk-heading-l">View and download the record for Dog {{ model.indexNumber }}</h1>

        <div class="govuk-inset-text">
          The file will either open in your browser or download directly, depending on your browser settings.
        </div>

        <input type="hidden" name="indexNumber" value="{{ model.indexNumber }}">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Download the record",
            name: "submitButton"
          }) }}

          <a class="govuk-link govuk-link--no-visited-state" href="{{ model.cancelLink }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}