{% extends '_layout.njk' %}

{% set pageHeading = "Accessibility" %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ nav.homeLink }}">Home</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Content TBC</p>
  </div>
</div>

{% endblock %}