{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends '_layout.njk' %}

{% set pageHeading = "Feedback sent" %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/cdo/search/basic">Home</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Feedback received"
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-7">What happens next</h2>
      <p>Your feedback will be used to help improve this service.</p>

    </div>
  </div>

{% endblock %}