{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% extends '_layout.njk' %}

{% set pageHeading = "Give feedback" %}

{% block pageTitle %}Give feedback - {{ serviceName }}{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/cdo/search/basic">Home</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

      <form class="form" method="post">
      <h1 class="govuk-heading-xl">Give feedback on the Dangerous Dogs Index</h1>

      <div class="govuk-form-group">
        {{ govukRadios(model.completedTask) }}
        {{ govukCharacterCount(model.details) }}
        {{ govukRadios(model.satisfaction) }}
      </div>

      <p class="govuk-body">Do not use this form for support requests. If you need support, email <a class="govuk-link govuk-link--no-visited-state" href="mailto:dogsindex@defra.gov.uk">dogsindex@defra.gov.uk</a>.
      </p>

      {% if model.isLogout %}
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Give feedback and sign out
        </button>
        <a href="/logout" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Sign out without giving feedback
        </a>
      </div>
      {% else %}
      <button class="govuk-button" data-module="govuk-button">
        Give feedback
      </button>
      {% endif %}

      </form>

    </div>
  </div>

{% endblock %}