{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="#" method="get">

      <h1 class="govuk-heading-xl">
        Defra Dangerous Dogs Index
      </h1>

      <p>This service is only for police officers working for a UK police force.</p>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check the exemption status of dangerous dogs</li>
        <li>check dog owner records</li>
        <li>advise Defra of changes, for example a breach of exemption or change of owner address</li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          You must use your police email address to access this service.
        </strong>
      </div>

      <a href="/cdo/search/basic" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        Privacy notice
      </h2>

      <p>
        <a class="govuk-link govuk-link--no-visited-state" href="/privacy-notice">
        Read our&nbsp;Privacy notice
        </a>
      </p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        Secure Access Licence
      </h2>

      <p>
        <a class="govuk-link govuk-link--no-visited-state" href="/secure-access-licence-view">
        Read our Secure Access Licence
        </a>
      </p>

    </form>
  </div>
</div>

{% endblock %}
