{% extends '_layout.njk' %}

{% block pageTitle %}You are signed out - {{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">You are signed out</h1>
    
    <p>
      <a href="/login" class="govuk-link govuk-link--no-visited-state">Sign in again</a>
    </p>
  </div>
</div>

{% endblock %}
