{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{serviceName}}</h1>
    
    <p>You are now signed out.</p>

    <p>
      <a href="/cdo/search/basic" class="govuk-link govuk-link--no-visited-state">Sign in again</a>
    </p>
  </div>
</div>

{% endblock %}
