{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends '_layout.njk' %}

{% set pageHeading = "Agree to the Secure Access Licence" %}

{% block pageTitle %}Agree to the Secure Access Licence - {{ serviceName }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

      <form class="form" method="post">

        <h1 class="govuk-heading-xl">
          Agree to the Secure Access Licence
        </h1>

        {% if model.acceptedLicence %}
        <div class="govuk-inset-text">
          To access the Dangerous Dogs Index, you must agree to the terms of the Secure Access Licence every 12 months. The terms of the Secure Access Licence have not changed.
        </div>
        {% else %}
        <p class="govuk-body-l">To access the Dangerous Dogs Index, you must agree to the terms of the secure access licence every 12 months.</p>
        {% endif %}


        {% include "./secure-access-licence-content.njk" %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-visually-hidden">
            Agree to the terms and conditions
            </legend>

            {{ govukCheckboxes(model.accept) }}

          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
        Agree and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}