{% extends '_layout.njk' %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, you are not authorised to perform this action, or your session has timed out.</h1>
      <a class="govuk-link govuk-link--no-visited-state" href="/login">Login again</a>
    </div>
  </div>
{% endblock %}