{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends '_layout.njk' %}

{% set pageHeading = "Check your email" %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

      <form class="form" method="post">
      <h1 class="govuk-heading-l">Check your email</h1>
      <div class="govuk-inset-text">We have sent an email to:
        <span class="govuk-body govuk-!-font-weight-bold">
        {{ model.username }}
        </span></div>
      <p class="govuk-body">The email contains a 6 digit security code.</p>
      <p class="govuk-body">Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
      <p class="govuk-body">The code will expire after 60 minutes.</p>

      <div class="govuk-form-group">
        {{ govukInput(model.code) }}
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems with the code?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            We can
            <a href="/verify-code?resend=true" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">send the code again</a>
            if the code is not working or you did not receive it.
          </p>

        </div>
      </details>

      </form>

    </div>
  </div>

{% endblock %}